/*Styls a nav-links */

@import 'variables';



/*Menu */

%style-a-menu {
    transition: all 1s;

    font-family: 'Roboto', sans-serif;

    font-size: 13px;

    color: nth($colores, 3) !important;

    padding: 5px;

    margin: 0px 10px;

    text-decoration: none;

   
}

%style-menu-hover {
    background-color:nth($colores , 3 )!important;
    color: nth($colores , 1  ) !important;
}

/*Style sections= tanda de anime año del 2016 a 2021 */

%style-tanda {
    padding-top: $pading-80px;

    border-bottom: 2px solid nth($colores, 3);

    background-color: rgb(20, 139, 139);
}


/*Style-sub-titulos*/

%style-sub-titulo {

    font-size: 20%;

    font-style: normal;



    color: nth($colores, 1);


    margin-left: 8%;

}

/*Style - title - cards */

%style-title-cards {

    font-family: 'Roboto', sans-serif !important;
    font-size: 40px !important;
    color: nth($colores, 1) !important;





}


/*Style-text-cards */


%style-text-cards {
    font-style: normal !important;
    font-size: 23px !important;
    color: nth($colores, 2) !important;

}


/*Display - flex */

%style-display-flex {
    display: flex;

    justify-content: center;

    align-items: center;

    margin: 0 auto;
}

%style-navbar {

    top : 0% ;

    z-index: 6 ;

    width: 100%;
    
position: fixed ; 

   
    
    border-bottom: 3px solid nth($colores, 3) !important;

}

%style-title {
    color: nth($colores, 3) !important;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
}