.mas-informacion {

    background-color: nth($colores , 1 ) !important;
    color: nth($colores , 3 ) !important;

    border: 0% solid transparent  !important;

    transition: all 1s ;

    &:hover {

        background-color: nth($colores , 3 ) !important;
        color: nth($colores , 1 )  !important;
    

        
    
        
  
    
    }
}

