/*Primwe Anime Doblado en 2016 
Por crunchyroll ELFEN LIED */

.tanda-2016 {
  @extend %style-tanda;
}

.sub-titulo-box {
  height: auto;

  margin: 0 auto;

  .sub-titulo-elfenlied {
    font-size: 30%;
  }
}

.card-16 {
  height: auto;

  padding: 4%;
  margin: 0 auto;

  background-color: transparent;

  .card-body {
    .card-title-elfenlied {
      @extend %style-title-cards;
    }
    .card-text-elfenlied {
      @extend %style-text-cards;
    }
  }
}
