/*Footer*/

.sociales {
  height: auto;

  border-top: 2px solid nth($colores, 3);

  padding-top: $pading-80px / 2;

  padding-bottom: $pading-80px / 2;

  background-color: nth($colores, 1);

  .sociales-box {
    

    @extend %style-display-flex;

    .img-sociales {
      height: auto;
      width: 6em;

      padding: 30px;

      transition: all 0.5s;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
