/*navbar styls */
header {
    width: 100%;

    .navbar {

        @extend %style-navbar;

      


        .burger {

            transition: all 1s;


            &:hover {
                background-color: nth($colores, 3) !important;
            }
        }

        .titulo {
            @extend %style-title;
        }



        .logo {
            width: 35px;
        }
    }
}

.navbar-nav {

    .nav-item {

        .nav-link {

            @extend %style-a-menu;

            &:hover {
                @extend %style-menu-hover;
            }
        }
    }
}