
.viz {

    height: auto;

    padding-top: $pading-80px;

    background-color: rgb(127, 180, 180);

    div {
        h2 {
            width: 40%;
        }
    }

    .logox {
        height: auto;
        width: 50% ;
    }


    .carousel {

        height: auto;
        
        //  width: 50% ;
    
        padding-top: 20px;
    
         padding-bottom: 40px ;
    
        //  margin: 0 auto;
     }

}











