.viz {

  height: auto;

  padding-top: $pading-80px;

  background-color: rgb(127, 180, 180);

  .stitulo {

    @extend %style-sub-titulo ; 
  }



  .logox {
    height: auto;
    width: 10rem;
  }

  .carousel {
    height: auto;

    padding-top: 20px;

    padding-bottom: 40px;

    padding: 4%;

    //  margin: 0 auto;
  }
}
